body {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
}

#powerblocks-input {
  background-color: #F6F8FA;
  border-radius: 8px;
  padding: 10px;
  position: relative;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  max-width: 400px;
  width: 90%;
}

#powerblocks-input form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

#powerblocks-input input {
  flex-grow: 1;
  padding: 8px 12px;
  border: 1px solid #a0aec0;
  border-radius: 4px;
  font-size: 14px;
  color: #4a5568;
  background-color: #f7fafc;
}

#powerblocks-input .error-msg {
  margin-top: -0.3rem;
  font-family: sans-serif;
  font-size: 0.8rem;
  color: red;
  font-weight: bold;
}


#powerblocks-input button {
  background-color: #718096;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

#powerblocks-input button:hover {
  background-color: #4a5568;
}

#powerblocks-input button[type="reset"] {
  background-color: white;
  border: 1px solid gray;
  color: black;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

#powerblocks-input button[type="reset"]:hover {
  background-color: gray;
  color: white;
}
